name: Generators
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"
jobs:
  devcard:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: devcard
        uses: dailydotdev/action-devcard@3.2.1
        with:
          user_id: ${{ secrets.USER_ID }}
          commit_message: "chore: update ${filename}"

      - name: generate-snake-game-from-github-contribution-grid
        uses: Platane/snk@v3.4.1
        with:
          github_user_name: Xylphy
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark&color_snake=yellow&color_dots=#13243e,#003997,#4a61d8,#adcbf0,#ffffff
            dist/ocean.gif?color_snake=yellow&color_dots=#161b22,#39c4dd,#ceecff,#a3e1ed,#ffffff

      - name: Push files to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: Xylphy

    # Push the generated SVG to the output branch
      - name: push pacman-contribution-graph.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - name: Update WakaTime
      #   uses: anmol098/waka-readme-stats@master
      #   with:
      #     WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
      #     GH_TOKEN: ${{ secrets.GH_TOKEN }}
      #     commit_message: "chore: update wakatime stats"
      #     SECTION_NAME: waka
      #     SHOW_OS: True
      #     SHOW_EDITORS: True
      #     SHOW_UPDATED_DATE: True
      #     SHOW_TOTAL_CODE_TIME: True
      #     SHOW_COMMIT: True
      #     SHOW_DAYS_OF_WEEK: True
      #     SHOW_LANGUAGE: True
      #     SHOW_PROJECTS: True
      #     SHOW_LANGUAGE_PER_REPO: True
